/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* header */
header{
    background-color: hsl(212deg 100% 65%); 
    height: 100px;
    width: 100;
    background-image: url(../img/pattern.png);
    background-position: top;
    background-size: 400px;
}

/* logo */
#logo{
    height: 40px;
    margin-top: 50px;
}

/* h1 */
h1{
    padding-top: 10px;
}

/* img */
#img{
    padding-top: 20px;
}